
:root{
  /* font-family  */
  --ff-primary : 'Open Sans', sans-serif;
  --ff-secondary : 'gilroy', sans-serif;
  
  /* font-weights */
  --fw-reg : 300;
  --fw-bold : 900;
  
  /* colors */
  --clr-light :white;
  --clr-yellow : yellow;
  --clr-dark : black;
  
  /* font-size */
  --fs-h1: 3.5rem;
  --fs-h2: 3rem;
  --fs-h3: 1.8rem;
  --fs-nav-logo: 2.6rem;
  --fs-nav-links: 1.3rem;
  --fs-body: 1.2rem;
}

/* media starts */

/* 1120px */

@media (max-width: 1120px){
   :root{
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.6rem;
    --fs-nav-logo: 2.2rem;
    --fs-nav-links: 1.3rem;
    --fs-body: 1.2rem;
  }
}

/* 980px */

@media (max-width: 980px){
  :root{
   --fs-h1: 2.5rem;
   --fs-h2: 2rem;
   --fs-h3: 1.4rem;
   --fs-nav-logo: 1.9rem;
   --fs-nav-links: 1.2rem;
   --fs-body: 0.9rem;

  }
}

/* 780px */

@media (max-width: 780px){
  :root{
    --fs-h1: 2rem;
    --fs-h2: 1.6rem;
    --fs-h3: 1.3rem;
    --fs-nav-logo: 1.6rem;
    --fs-nav-links: 1.2rem;
    --fs-body: 0.9rem;
 
  }

  .project-title{
    text-align: center;
    padding: 5%;
  }
  
  .project-body{
    display: none;
  }

  .am-body > h3{
    display: none;
  }

  .am-body {
    text-align: center;
    padding: 8%;
  }

}

/* 587px */

@media (max-width: 590px){
  :root{

    --fs-h1: 2rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.2rem;
    --fs-nav-logo: 1.4rem;
    --fs-nav-links: 1rem;
    --fs-body: 0.9rem;
  }

  #about-me {
    display: block;
    height: 40%;
  }

  .am-photo{
    display: none;
  }

  .am-body > h3{
    display: inline;
    color: rgb(255, 255, 131);
    font-size: 1.3rem;
  }

  #about-me > .am-body{
    width: 100%;
    padding: 18% 0% 22% 0%;
    border-radius: 0rem;
  }

  #service-section > .srvice-bacground-image > .section-titile-service{
    text-align: center;
    
  }

}

/* 520px */

@media (max-width: 520px){
  :root{
    --fs-h1: 1.7rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.1rem;
    --fs-nav-logo: 1.3rem;
    --fs-nav-links: 1rem;
    --fs-body: 0.9rem;
  }

  .logo{
    padding: 0.2rem 0 0.2rem 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-buttons{
    display: none;
    width: 100%;
  }

  .nav-buttons.active {
    display: flex;
  }

  .nav-buttons li{
    text-align: center;
  }

  .nav-buttons ul{
    width: 100%;
    flex-direction: column;
  }

  .logo .togell-bar{
    display: flex;
  }



  #service-section > .srvice-bacground-image > .service-content{
    display: flex;
    justify-content: space-evenly;
    padding: 6% 1% 6% 1%;
  }

}

/* 420px */

@media (max-width: 430px){
  :root{
    --fs-h1: 1.7rem;
    --fs-h2: 1.1rem;
    --fs-h3: 1.3rem;
    --fs-nav-logo: 1rem;
    --fs-nav-links: 1rem;
    --fs-body: 0.9rem;
  }

  #about-me > .am-body{
    padding: 22% 0% 18% 0%;
  }

  .am-body > h3{
    display: inline;
    color: rgb(255, 255, 131);
  }

  #service-section > .srvice-bacground-image > .service-content{
    display: block;
    text-align: center;
  }

  #service-section > .srvice-bacground-image > .service-content > .services {
    padding: 1% 1% 1% 1%;
    margin: 5% 15% 8% 15%;
  }

  #project > .section-titile-project > .project-items-rows{
    display: block;
    text-align: center;
  }

  #project > .section-titile-project > .project-items-rows > .project-item{
    width: 92%;
    margin: 6% 4%;
    border: 1px solid rgb(53, 53, 4);
    border-radius: 0.8rem;
    background-color: black;
  }
  
  .project-title{
    color: white;
    padding: 3%
  }

  .project-title:hover{
    color: white;
    padding: 3%
  }

}

/*media ends */

/* html starts */
*{
  margin: 0% 0% 0% 0%;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family : var(--ff-primary);
  font-size : var(--fs-body);
  font-weight: var(--fw-reg);
  line-height: 1.6rem;
}

::selection{
  background: red;
}

a:link{
  text-decoration: none;
  font-size: var(--fs-nav-links);
  color: var(--clr-light);  
}

a:visited{
  color: var(--clr-light);
}

a:hover{
  color: var(--clr-yellow);
}

strong{
    font-weight: var(--fw-bold);
}

h1,h2,h3{
    line-height: 1.1;
}

h1{
  font-size: var(--fs-h1);
}

h2{
  font-size: var(--fs-h2);
}

h3{
  font-size: var(--fs-h3);
}

.section-title{
  font-family: var(--ff-secondary);
}

/* nav starts */

nav{
  display: flex;
  background-color: rgb(10, 9, 9); 
  justify-content: space-between;
  align-items: center;
}

.logo-name{
  margin: 0.5%;
}

.nav-buttons ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-buttons ul li{
  list-style: none;
}

.nav-buttons ul li a{
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.nav-buttons ul li a:hover{
  background-color: rgb(22, 22, 22);
  transition-duration: 0.5s;
}

.togell-bar {
  position: absolute;
  top: 1%;
  right: 2%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 5%;
  height: 3%;
}

.togell-bar .bar{
  height: 15%;
  width: 100%;
  background-color: rgb(177, 177, 8);
  border-radius: 10px;
}

/*
.logo-name{
  width: 30%;
  font-size: var(--fs-nav-logo);
  padding-left: 5%;
}

.nav-buttons{
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

.nav-button{
  padding-left: 2%;
  padding-right: 2%;
}

*/

/* nav ends */

/* About me starts */

#about-me{
  display: flex;
}

.am-photo{
  width: 40%;
  padding: 2%;
  background-color:black;
  text-align: center;
}

.my-photo{
  width: 60%;
  border: 0px solid black;
  border-radius: 50em;
}

.my-photo:hover{
  box-shadow: 0 0 20px yellow;
  transition-duration: 0.6s;
}

.am-body{
  width: 60%;
  padding: 10% 0 0 0;
  background-color: rgb(0, 0, 0);
}

/* About me ends */

/* Things I tried starts */
#service-section{
  background-color: black;
}

.section-titile-service{
  text-align: center;
}

.section-titile-service-color{
  color: rgb(204, 204, 17);
  padding: 0.5%;
}

.service > img{
  width: 40%;
  margin: 4%;
}

.service-content{
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.services{
  background-color: black;
  text-align: center;
  margin: 4%;
  padding: 1%;
  border: 2px solid rgb(77, 77, 6);
  border-radius: 0.8rem;
}


.services:hover{
  background-color:black;
  border: 2px solid yellow;
  box-shadow: 0 0 20px yellow;
  transition-duration: 0.6s;
}

/* Things I tried ends */

/* Things I did starts */

#project{
  background-color: black;
}

.section-titile-project{
  background-color: black;
  padding-bottom: 3%;
}

.section-title-project-color{
  text-align: center; 
  color: rgb(204, 204, 17);
  padding: 0.8%;
}

.project-items-rows{
  display: flex;
  flex-wrap: wrap;
}

.project-item-white{
  width: 46%;
  margin: 2%;
  border: 2px solid rgb(77, 77, 6);
  border-radius: 0.8rem;
  background-color: black;
}

.project-item-white:hover{
  background-color:black;
  border: 2px solid yellow;
  box-shadow: 0 0 20px yellow;
  transition-duration: 0.6s;
}

.project-item-black{
  width: 46%;
  margin: 2%;
  border: 2px solid rgb(77, 77, 6);
  border-radius: 0.8rem;
  background-color: black;
}

.project-item-black:hover{
  background-color:black;
  border: 2px solid yellow;
  box-shadow: 0 0 20px yellow;
  transition-duration: 0.6s;
}

.project-item-black-1{
  width: 46%;
  margin: 2%;
  border: 2px solid rgb(77, 77, 6);
  border-radius: 0.8rem;
  background-color: black;
}

.project-item-black-1:hover{
  background-color:black;
  border: 2px solid yellow;
  box-shadow: 0 0 20px yellow;
  transition-duration: 0.6s;
}

.project-item-white-1{
  width: 46%;
  margin: 2%;
  border: 2px solid rgb(77, 77, 6);
  border-radius: 0.8rem;
  background-color: black;
}

.project-item-white-1:hover{
  background-color:black;
  border: 2px solid yellow;
  box-shadow: 0 0 20px yellow;
  transition-duration: 0.6s;
}

.project-content-white{
  color: rgb(172, 172, 172);
  padding: 3%
}

.project-content-white:hover{
  color: white;
  padding: 3%
}

.project-content-black{
  color: rgb(172, 172, 172);
  padding: 3%
}

.project-content-black:hover {
  color: white;
  padding: 3%
}

/* Things I did end */

/* Get In Tuch starts */

#contact-me{
  background-color: black;
}

.contact-me-div{
  text-align: center;
  background-color: black;
}


.Contact-me-color{
  color: rgb(204, 204, 17); 
  padding: 0.8%;
}

.contact-me-main{
  display: flex;
  margin-top: 3%;
  padding-bottom: 3%;
  justify-content: space-evenly;
  background-color: black;
  text-align: center;
}

.contact-image{
  width: 20%;
  margin: 15%;
}

.contact-item{
  background-color: black;
  border: 2px solid rgb(77, 77, 6);
  border-radius: 0.8rem;
  margin: 2%;
}

.contact-item:hover {
  background-color:black;
  border: 2px solid yellow;
  box-shadow: 0 0 20px yellow;
  transition-duration: 0.6s;
}

/* Get In Tuch ends */

/* footer */

footer{
  text-align: center; 
  background-color: rgb(10, 9, 9); 
  color: white;
  padding: 0.5%;
}

/* footer ends */